<div class="Creditos">
<h1> Creditos </h1>

<div class="card" style="width: 18rem;">
        <img src="/img/indi.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Indiana Sasson</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="/img/sol.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Sol Izraelewicz</h5>
        </div>
    </div>

</div>