<div class="historia">
    <h1>Orígenes</h1>
    <div>
        <img src="/img/ORIGENES.jpg">
        <p>
            Los Juegos Olímpicos tienen sus raíces en la antigua Grecia, específicamente en la ciudad de Olimpia, donde se celebraron por primera vez en el año 776 a.C. Estos eventos eran competiciones deportivas que honraban a los dioses griegos, especialmente a Zeus. Los Juegos Olímpicos originales incluían disciplinas como carreras de velocidad, lanzamiento de disco, lucha y pentatlón. Durante su apogeo, los Juegos eran tan importantes que se declaraba una tregua en las guerras para que los atletas pudieran viajar de manera segura a Olimpia y competir.
        </p>
    </div>

      <h1>La Era Moderna</h1>
    <div>
        <img src="/img/ERAMODERNA.jpg">
        <p>
            Los Juegos Olímpicos antiguos se celebraron durante casi 12 siglos hasta que fueron prohibidos en el año 393 d.C. por el emperador romano Teodosio I, quien consideraba estas festividades como un ritual pagano. No fue hasta finales del siglo XIX, en 1896, que los Juegos Olímpicos fueron revividos en su versión moderna por iniciativa del barón Pierre de Coubertin. Estos primeros Juegos Olímpicos modernos se llevaron a cabo en Atenas, Grecia, y contaron con la participación de atletas de 14 países. Desde entonces, los Juegos se han celebrado cada cuatro años, reuniendo a competidores de todo el mundo.
        </p>
    </div>

    <h1>Actualidad</h1>
    <div>
        <img src="/img/ACTUALIDAD.jpg">
        <p>
            En la actualidad, los Juegos Olímpicos son uno de los eventos deportivos más importantes y seguidos a nivel global. Incluyen una gran variedad de deportes, desde atletismo y natación hasta disciplinas más recientes como el skateboarding y el surf. Cada cuatro años, los Juegos Olímpicos de verano y de invierno alternan su celebración, uniendo a miles de atletas y millones de espectadores en todo el mundo. Además de ser una celebración del deporte, los Juegos Olímpicos también promueven valores como la amistad, el respeto y la excelencia, sirviendo como un símbolo de unidad y paz entre las naciones.
        </p>
    </div>
</div>