html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; 
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #f3d880, #f1c65a); 
  padding: 10px 20px;
}

header img {
  width: 10%;
  height: auto; 
}

header nav {
  display: flex;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: white; 
  font-weight: bold;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 5px;
}

header nav ul li a:hover {
  color: #fff2a9; 
  background-color: #d1a025; 
}


header nav ul li a:active {
  color: #b8860b; 
}

header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}